---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/2014/races/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"27b-ClGxFS0LoPXLUxFy/WIcykPXTGE"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '92'
      X-Ratelimit-Reset:
      - '1758233264'
    body:
      encoding: UTF-8
      string: '{"count":9,"results":[{"index":"dragonborn","name":"Dragonborn","url":"/api/2014/races/dragonborn"},{"index":"dwarf","name":"Dwarf","url":"/api/2014/races/dwarf"},{"index":"elf","name":"Elf","url":"/api/2014/races/elf"},{"index":"gnome","name":"Gnome","url":"/api/2014/races/gnome"},{"index":"half-elf","name":"Half-Elf","url":"/api/2014/races/half-elf"},{"index":"half-orc","name":"Half-Orc","url":"/api/2014/races/half-orc"},{"index":"halfling","name":"Halfling","url":"/api/2014/races/halfling"},{"index":"human","name":"Human","url":"/api/2014/races/human"},{"index":"tiefling","name":"Tiefling","url":"/api/2014/races/tiefling"}]}'
  recorded_at: Thu, 18 Sep 2025 22:07:43 GMT
recorded_with: VCR 6.3.1
