---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/2014/classes/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"34e-snmES1lfqa/iTzaCS2jaCszccsw"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '97'
      X-Ratelimit-Reset:
      - '1758233264'
    body:
      encoding: UTF-8
      string: '{"count":12,"results":[{"index":"barbarian","name":"Barbarian","url":"/api/2014/classes/barbarian"},{"index":"bard","name":"Bard","url":"/api/2014/classes/bard"},{"index":"cleric","name":"Cleric","url":"/api/2014/classes/cleric"},{"index":"druid","name":"Druid","url":"/api/2014/classes/druid"},{"index":"fighter","name":"Fighter","url":"/api/2014/classes/fighter"},{"index":"monk","name":"Monk","url":"/api/2014/classes/monk"},{"index":"paladin","name":"Paladin","url":"/api/2014/classes/paladin"},{"index":"ranger","name":"Ranger","url":"/api/2014/classes/ranger"},{"index":"rogue","name":"Rogue","url":"/api/2014/classes/rogue"},{"index":"sorcerer","name":"Sorcerer","url":"/api/2014/classes/sorcerer"},{"index":"warlock","name":"Warlock","url":"/api/2014/classes/warlock"},{"index":"wizard","name":"Wizard","url":"/api/2014/classes/wizard"}]}'
  recorded_at: Thu, 18 Sep 2025 22:07:42 GMT
recorded_with: VCR 6.3.1
