---
http_interactions:
- request:
    method: get
    uri: https://www.dnd5eapi.co/api/2014/languages/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"4bd-b4V2Scvb0Ha4eUt/VSM+WwmJdpY"
      X-Ratelimit-Limit:
      - '100'
      X-Ratelimit-Remaining:
      - '91'
      X-Ratelimit-Reset:
      - '1758233264'
    body:
      encoding: UTF-8
      string: '{"count":16,"results":[{"index":"abyssal","name":"Abyssal","url":"/api/2014/languages/abyssal"},{"index":"celestial","name":"Celestial","url":"/api/2014/languages/celestial"},{"index":"common","name":"Common","url":"/api/2014/languages/common"},{"index":"deep-speech","name":"Deep
        Speech","url":"/api/2014/languages/deep-speech"},{"index":"draconic","name":"Draconic","url":"/api/2014/languages/draconic"},{"index":"dwarvish","name":"Dwarvish","url":"/api/2014/languages/dwarvish"},{"index":"elvish","name":"Elvish","url":"/api/2014/languages/elvish"},{"index":"giant","name":"Giant","url":"/api/2014/languages/giant"},{"index":"gnomish","name":"Gnomish","url":"/api/2014/languages/gnomish"},{"index":"goblin","name":"Goblin","url":"/api/2014/languages/goblin"},{"index":"halfling","name":"Halfling","url":"/api/2014/languages/halfling"},{"index":"infernal","name":"Infernal","url":"/api/2014/languages/infernal"},{"index":"orc","name":"Orc","url":"/api/2014/languages/orc"},{"index":"primordial","name":"Primordial","url":"/api/2014/languages/primordial"},{"index":"sylvan","name":"Sylvan","url":"/api/2014/languages/sylvan"},{"index":"undercommon","name":"Undercommon","url":"/api/2014/languages/undercommon"}]}'
  recorded_at: Thu, 18 Sep 2025 22:07:43 GMT
recorded_with: VCR 6.3.1
